
body{
	font-size: 16px;
	color: #222;
	background-color: #99b3ff;
	font-family: 'Raleway', sans-serif;

}
/* HEADER */

#header-nav{
	background-color: #ff8566;
	border-radius: 0;
	border: 0;
	padding-bottom: 20px;
}

.navbar-brand{
	margin: 10px 15px 10px 0px;
	padding-top: 15px;
}

.navbar-brand h1{
	color: #99b3ff;
	font-size: 1.8em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 0;
	margin-top: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-toggle .icon-bar{
	border: 1px solid #99b3ff;
}

.navbar-header button.navbar-toggle{
	margin-top: 25px;
}
.navbar-header button.navbar-toggle:hover{
	background-color: #eee;
}

#nav-list{
	margin-top: 20px;
	margin-left: 
}
#nav-list li{	
	padding: 5px;
	color: #99b3ff;
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
}

/* End HEADER */


/* Home Page*/


#main-content h2{	
	font-size: 1.9em;
	margin-bottom: 50px;	
}

.row{
	background-color: #ff8566;
	border: 1px solid #ff8566;
	margin: 0 10px 20px;
}


#main-content section h3{
	padding: 10px 0 10px;
	font-size: 1.8em;
}

#main-content section hr{
	width: 80%;
}

#main-content section p{
	font-size: 1.3em;
	font-style: italic;

}

/*END Home Page */